# -- GLOBAL/BACKGROUND SETTINGS --

# This tells Sketchybar to update whenever you switch workspaces
exec-on-workspace-change = ['/bin/bash', '-c', 'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE']

start-at-login = false

# Mouse follows focus when focused monitor changes
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

[[on-window-detected]]
if.app-name-regex-substring = 'finder'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = 'discord'
run = 'layout floating'

[[on-window-detected]]
if.app-name-regex-substring = 'messages'
run = 'layout floating'

[gaps]
inner.horizontal = 20
inner.vertical =   20
outer.left =       20
outer.bottom =     20
outer.top =        10
outer.right =      20

# --- BINDINGS ---
[mode.main.binding]

# 1. Navigation (Alt + HJKL)
# This lets you move between windows without touching the arrow keys
alt-h = 'focus left'
alt-j = 'focus down'
alt-k = 'focus up'
alt-l = 'focus right'

# 2. Moving Windows (Alt + Ctrl + HJKL)
# We use Ctrl here so it doesn't interfere with your Shift+Arrow text selection
alt-shift-h = 'move left'
alt-shift-j = 'move down'
alt-shift-k = 'move up'
alt-shift-l = 'move right'

# 3. Workspaces (Alt + Number)
alt-1 = 'workspace 1'
alt-2 = 'workspace 2'
alt-3 = 'workspace 3'
alt-4 = 'workspace 4'
alt-5 = 'workspace 6'
alt-6 = 'workspace 7'
alt-7 = 'workspace 8'
alt-8 = 'workspace 9'
alt-0 = 'workspace 0'

# 4. Moving Windows to Workspaces (Alt + Shift + Number)
alt-shift-1 = 'move-node-to-workspace 1'
alt-shift-2 = 'move-node-to-workspace 2'
alt-shift-3 = 'move-node-to-workspace 3'
alt-shift-4 = 'move-node-to-workspace 4'
alt-shift-5 = 'move-node-to-workspace 5'
alt-shift-6 = 'move-node-to-workspace 6'
alt-shift-7 = 'move-node-to-workspace 7'
alt-shift-8 = 'move-node-to-workspace 8'
alt-shift-9 = 'move-node-to-workspace 9'
alt-shift-0 = 'move-node-to-workspace 0'

alt-shift-f = 'fullscreen'
alt-ctrl-f = 'layout floating tiling'

alt-shift-minus = 'resize smart -50'
alt-shift-equal = 'resize smart +50'


# 5. Service Mode (Alt + Shift + Semicolon)
# This is your "emergency" mode to reload the config
alt-shift-semicolon = 'mode service'

# -- hot key openings -- 
alt-s = 'exec-and-forget open -a /Applications/Spotify.app'
alt-f = 'exec-and-forget open -a /System/Library/CoreServices/Finder.app'
alt-g = 'exec-and-forget open -a /Applications/Ghostty.app'
alt-c = 'exec-and-forget open -a /Applications/Chrome.app'


[mode.service.binding]
r = ['flatten-workspace-tree', 'mode main']
